<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta name="description" content="RIIIXCH - Profile"/>
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio"/>
    <meta name="author" content="RIIIXCH"/>
  
    <title>RIIIXCH - Profile</title>
  
    <link rel="shortcut icon" href="./img/logo.webp">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap">

    <link rel="stylesheet" href="./css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body id="body">
    <div class="d-flex flex-row flex-wrap justify-content-center align-self-center min-vh-100">
        <div id="nav" class="col-12 fixed-top">
            <div class="col-12 col-md-10 col-lg-7 mx-auto">
                <div class="d-flex justify-content-center align-items-center gap-4 pt-3 pb-2 mx-4">
                    <div id="card" class="text-center scale-2" role="button">
                        <i class="fa-solid fa-address-card fs-3"></i>
                    </div>
                    <div id="about" class="text-center scale-2" role="button">
                        <i class="fa-solid fa-user fs-3"></i>
                    </div>
                    <div id="portfolio" class="text-center scale-2" role="button">
                        <i class="fa-solid fa-briefcase fs-3"></i>
                    </div>
                    <div id="switch-mode" class="text-center scale-2 ms-auto" role="button">
                        <i id="theme-icon" class="fa-regular fa-sun fs-3"></i>
                    </div>
                    <div class="text-center scale-2 fs-3">
                        <select id="language" class="form-select">
                            <option value="EN">EN</option>
                            <option value="TH">TH</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-10 col-lg-7 my-auto min-vh-100">
            <div class="d-flex justify-content-center align-self-center container min-vh-100">
                <div class="col-12">
                    <div class="d-flex flex-column justify-content-center align-self-center min-vh-100">

                        <section language="EN" id="card" class="py-3 my-auto mx-auto">
                            <div class="col-12 text-center mt-5">
                                <img id="profile" src="./img/profile.webp" alt="profile" class="w-100 pro-img scale-1">
                            </div>
                            <div class="col-12 text-center mt-4">
                                <span class="fw-bold fs-1">Sompop Iemsombat</span>
                            </div>
                            <div class="col-12 text-center mt-1">
                                <span class="fs-3">RIIIXCH</span>
                            </div>
                            <div class="col-12 text-center mt-3">
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-code me-1"></i> Full-Stack Developer</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-infinity me-1"></i> DevOps Engineer</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-database me-1"></i> Database Administrator</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-network-wired me-1"></i> Network Engineer</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-server me-1"></i> Server Administrator</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-screwdriver-wrench me-1"></i> Computer Technician</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-music me-1"></i> Music Artist</span>
                            </div>
                            <div class="col-12 text-center mt-4">
                                <div class="d-flex justify-content-center align-self-center gap-4">
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-discord fs-2"></i>
                                    </div>
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-facebook fs-2"></i>
                                    </div>
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-instagram fs-2"></i>
                                    </div>
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-line fs-2"></i>
                                    </div>
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-youtube fs-2"></i>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section language="TH" id="card" class="py-3 my-auto mx-auto">
                            <div class="col-12 text-center mt-5">
                                <img id="profile" src="./img/profile.webp" alt="profile" class="w-100 pro-img scale-1">
                            </div>
                            <div class="col-12 text-center mt-4">
                                <span class="fw-bold fs-1">สมภพ เอี่ยมสมบัติ</span>
                            </div>
                            <div class="col-12 text-center mt-1">
                                <span class="fs-3">RIIIXCH</span>
                            </div>
                            <div class="col-12 text-center mt-3">
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-code me-1"></i> Full-Stack Developer</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-infinity me-1"></i> DevOps Engineer</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-database me-1"></i> Database Administrator</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-network-wired me-1"></i> Network Engineer</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-server me-1"></i> Server Administrator</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-screwdriver-wrench me-1"></i> Computer Technician</span>
                                <span class="badge rounded-pill text-bg-primary fs-6 m-1 scale-1" role="button"><i class="fa-solid fa-music me-1"></i> Music Artist</span>
                            </div>
                            <div class="col-12 text-center mt-4">
                                <div class="d-flex justify-content-center align-self-center gap-4">
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-discord fs-2"></i>
                                    </div>
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-facebook fs-2"></i>
                                    </div>
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-instagram fs-2"></i>
                                    </div>
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-line fs-2"></i>
                                    </div>
                                    <div class="scale-2" role="button">
                                        <i class="fa-brands fa-youtube fs-2"></i>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section language="EN" id="about" class="p-3 my-5">
                            <div class="col-12">
                                <div class="d-flex flex-row flex-wrap justify-content-center align-self-center p-2">
                                    <div class="col-12 text-center my-2">
                                        <span class="fw-bold fs-1">About Me</span>
                                        <hr class="my-2">
                                    </div>
                                    <div class="col-4 d-none d-xl-block my-3">
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            <div class="px-4 my-auto text-center">
                                                <img id="profile" src="./img/profile.webp" alt="profile" class="mb-2 w-100 pro-img scale-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-8 my-3">
                                        <div class="p-0">
                                            <span class="fw-bold fs-3">Personal Info</span>
                                            <div class="d-flex flex-row flex-wrap justify-content-start align-items-center row-gap-3">
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">First Name: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">Sompop</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">Last Name: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">Iemsombat</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">Nickname: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">RICH</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">Alias: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">RIIIXCH, MrsompopYT</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">Birthday: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">25/09/2003</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">Langages: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">Thai, English</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">Address: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">Thailand</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">Nationality: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">Thailand</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">Phone: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">+66 95 645 1925</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">E-mail: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">sompop@riiixch.com</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 my-3 d-none">
                                        <hr class="my-3">
                                        <div class="p-2">
                                            <span class="fw-bold fs-3">Who am i?</span>
                                            <span class="sqlline fs-6">
                                                My name is Sompop Iemsombat. I'm a Backend Developer. I'm good at using JavaScript, MySQL and can use C, C++, Python, PHP at a basic level. And I have additional skills in Network Engineer, Server Administrator, Database Administrator, IT Consultant, Computer Technician at basic - advanced level
    
                                                My job is as a Backend Developer, managing all backend systems before displaying them on the website. or receive information from a website and then process it and send it back to display as correct information.
    
                                                My hobbies are sleeping, listening to music, playing games, watching movies, creating music, studying and gaining more knowledge in the subjects I want to know.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12 my-3">
                                        <hr class="my-3">
                                        <div class="p-0">
                                            <span class="fw-bold fs-3">Education</span>
                                            <div class="d-flex flex-row flex-wrap justify-content-center align-self-center p-2">
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2023 - Present</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">Sripatum University, Chonburi Campus</span>
                                                        <br>
                                                        <span class="fs-6">Transferring majors to pursue a bachelor's degree in the Faculty of Information and Communication Technology, majoring in Information and Communication Technology (2nd year).</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2022 - 2023</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">Sripatum University, Campus Bangkhen</span>
                                                        <br>
                                                        <span class="fs-6">Studied for one year in the Faculty of Information and Communication Technology, majoring in Computer Engineering.</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2019 - 2022</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">Bangoakong "Bowonwittayayon" School</span>
                                                        <br>
                                                        <span class="fs-6">Completed high school education under the science-mathematics curriculum.</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2016 - 2019</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">Bangoakong "Bowonwittayayon" School</span>
                                                        <br>
                                                        <span class="fs-6">Completed junior high school education under the science-mathematics curriculum.</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2010 - 2016</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">Sriwittaya School</span>
                                                        <br>
                                                        <span class="fs-6">Completed primary school education (grades 1-6).</span>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 my-3">
                                        <hr class="my-3">
                                        <div class="p-0">
                                            <span class="fw-bold fs-3">Experience</span>
                                            <div class="d-flex flex-row flex-wrap justify-content-center align-self-center p-2">
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2022 - Present</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">IT Consultant</span>
                                                        <br>
                                                        <span class="fs-6">Serve as an IT Consultant for D.H.T. Transport Company.</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2022 - Present</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">Freelance Developer</span>
                                                        <br>
                                                        <span class="fs-6">Freelance Developer offering Full-Stack website development, Discord bot systems, and more using Node.js.</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2022 - 2023</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">Developers and Administrators</span>
                                                        <br>
                                                        <span class="fs-6">Serves as a developer and administrator for a Minecraft PE game server. Responsibilities include designing and developing plugins, add-ons, and website systems, as well as maintaining servers, databases, systems, and websites.</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2014 - 2017</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">Developers and Administrators</span>
                                                        <br>
                                                        <span class="fs-6">Acts as a developer and administrator for a Minecraft PE game server. Responsibilities include designing and developing plugins and website systems, as well as maintaining servers, databases, systems, and websites.</span>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 my-3">
                                        <hr class="my-3">
                                        <div class="p-0">
                                            <span class="fw-bold fs-3">My Skills</span>
                                            <div class="ms-1">
                                                <div class="my-4">
                                                    <span class="fw-bold fs-4">Expert</span>
                                                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=PXTY4q2Sq2lG&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">JavaScript</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=hsPbhkOH4FMe&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">Node.js</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://ajeetchaulagain.com/static/7cb4af597964b0911fe71cb2f8148d64/87351/express-js.png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">ExpressJS</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://icon.icepanel.io/Technology/svg/Discord.js.svg" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">DiscordJS</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="my-4">
                                                    <span class="fw-bold fs-4">Advanced</span>
                                                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=nCj4PvnCO0tZ&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">TypeScript</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=ylXrZF2zxsFE&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">PHP</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://cdn.icon-icons.com/icons2/2415/PNG/512/mongodb_original_logo_icon_146424.png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">MongoDB</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=9nLaR5KFGjN0&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">MySQL</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="my-4">
                                                    <span class="fw-bold fs-4">Intermediate</span>
                                                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=l75OEUJkPAk4&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">Python</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=laYYF3dV0Iew&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6 text-center">Microsoft SQL</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="my-4">
                                                    <span class="fw-bold fs-4">Beginner</span>
                                                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=shQTXiDQiQVR&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">C</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=TpULddJc4gTh&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">C++</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=Pd2x9GWu9ovX&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">Java</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section language="TH" id="about" class="p-3 my-5">
                            <div class="col-12">
                                <div class="d-flex flex-row flex-wrap justify-content-center align-self-center p-2">
                                    <div class="col-12 text-center my-2">
                                        <span class="fw-bold fs-1">เกี่ยวกับฉัน</span>
                                        <hr class="my-2">
                                    </div>
                                    <div class="col-4 d-none d-xl-block my-3">
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            <div class="px-4 my-auto text-center">
                                                <img id="profile" src="./img/profile.webp" alt="profile" class="mb-2 w-100 pro-img scale-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-8 my-3">
                                        <div class="p-0">
                                            <span class="fw-bold fs-3">ข้อมูลส่วนตัว</span>
                                            <div class="d-flex flex-row flex-wrap justify-content-start align-items-center row-gap-3">
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">ชื่อจริง: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">สมภพ</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">นามสกุล: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">เอี่ยมสมบัติ</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">ชื่อเล่น: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">ริด</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">ชื่อเล่นอื่น: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">RIIIXCH, MrsompopYT</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">วันเกิด: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">25/09/2546</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">ภาษา: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">ไทย, อังกฤษ</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">ที่อยู่: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">ประเทศไทย</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">สัญชาติ: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">ประเทศไทย</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">โทรศัพท์: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">+66 95 645 1925</span>
                                                </div>
                                                <div class="col-6">
                                                    <span id="darkToggleText" class="sp-text">อีเมล: </span>
                                                    <br class="d-xl-none">
                                                    <span class="fw-bold">sompop@riiixch.com</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 my-3">
                                        <hr class="my-3">
                                        <div class="p-0">
                                            <span class="fw-bold fs-3">การศึกษา</span>
                                            <div class="d-flex flex-row flex-wrap justify-content-center align-self-center p-2">
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2023 - ปัจจุบัน</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">มหาวิทยาลัยศรีปทุม วิทยาเขตชลบุรี</span>
                                                        <br>
                                                        <span class="fs-6">เทียบโอนศึกษาระดับปริญญาตรีในคณะเทคโนโลยีสารสนเทศและการสื่อสาร เอกสารสารสนเทศและการสื่อสาร (ปีที่ 2)</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2022 - 2023</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">มหาวิทยาลัยศรีปทุม วิทยาเขตบางเขน</span>
                                                        <br>
                                                        <span class="fs-6">เข้าศึกษาในคณะเทคโนโลยีสารสนเทศและการสื่อสาร เอกวิศวกรรมคอมพิวเตอร์</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2019 - 2022</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">โรงเรียนบางอ้อ "โบวรรณวิทยายน"</span>
                                                        <br>
                                                        <span class="fs-6">จบการศึกษาระดับมัธยมศึกษาตอนปลายตามหลักสูตรวิทยาศาสตร์-คณิตศาสตร์</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2016 - 2019</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">โรงเรียนบางอ้อ "โบวรรณวิทยายน"</span>
                                                        <br>
                                                        <span class="fs-6">จบการศึกษาระดับมัธยมศึกษาตอนต้นตามหลักสูตรวิทยาศาสตร์-คณิตศาสตร์</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2010 - 2016</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">โรงเรียนศรีวิทยา</span>
                                                        <br>
                                                        <span class="fs-6">จบการศึกษาระดับประถมศึกษา (ชั้นประถมศึกษาปีที่ 1-6)</span>
                                                    </div>
                                                </div>
                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 my-3">
                                        <hr class="my-3">
                                        <div class="p-0">
                                            <span class="fw-bold fs-3">ประสบการณ์</span>
                                            <div class="d-flex flex-row flex-wrap justify-content-center align-self-center p-2">
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2022 - ปัจจุบัน</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">ที่ปรึกษาด้านเทคโนโลยีสารสนเทศ</span>
                                                        <br>
                                                        <span class="fs-6">ทำหน้าที่ที่ปรึกษาด้าน IT สำหรับบริษัท ดี.เอช.ที. ทรานสปอร์ต</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2022 - ปัจจุบัน</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">นักพัฒนา ฟรีแลนซ์</span>
                                                        <br>
                                                        <span class="fs-6">นักพัฒนา ฟรีแลนซ์ รับจ้างพัฒนาเว็บไซต์ Full-Stack, ระบบบอท Discord และอื่น ๆ โดยใช้ Node.js</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2022 - 2023</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">นักพัฒนาและผู้ดูแลระบบ</span>
                                                        <br>
                                                        <span class="fs-6">ทำหน้าที่เป็นนักพัฒนา และผู้ดูแลระบบสำหรับเซิร์ฟเวอร์เกม Minecraft PE โดยมีหน้าที่ในการออกแบบและพัฒนา plugins, add-ons, ระบบเว็บไซต์ และดูแลรักษาเซิร์ฟเวอร์, ฐานข้อมูล, ระบบต่างๆ และเว็บไซต์</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12 row py-2">
                                                    <div class="col-3 col-lg-4 col-xl-3 col-xxl-2">
                                                        <span class="fs-6">2014 - 2017</span>
                                                    </div>
                                                    <div class="col-9 col-lg-8 col-xl-9 col-xxl-10">
                                                        <span class="fw-bold fs-5">นักพัฒนาและผู้ดูแลระบบ</span>
                                                        <br>
                                                        <span class="fs-6">ทำหน้าที่เป็นนักพัฒนา และผู้ดูแลระบบสำหรับเซิร์ฟเวอร์เกม Minecraft PE โดยมีหน้าที่ในการออกแบบและพัฒนา plugins และระบบเว็บไซต์ รวมถึงดูแลรักษาเซิร์ฟเวอร์, ฐานข้อมูล, ระบบต่างๆ และเว็บไซต์</span>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 my-3">
                                        <hr class="my-3">
                                        <div class="p-0">
                                            <span class="fw-bold fs-3">ทักษะของฉัน</span>
                                            <div class="ms-1">
                                                <div class="my-4">
                                                    <span class="fw-bold fs-4">Expert</span>
                                                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=PXTY4q2Sq2lG&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">JavaScript</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=hsPbhkOH4FMe&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">Node.js</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://ajeetchaulagain.com/static/7cb4af597964b0911fe71cb2f8148d64/87351/express-js.png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">ExpressJS</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://icon.icepanel.io/Technology/svg/Discord.js.svg" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">DiscordJS</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="my-4">
                                                    <span class="fw-bold fs-4">Advanced</span>
                                                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=nCj4PvnCO0tZ&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">TypeScript</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=ylXrZF2zxsFE&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">PHP</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://cdn.icon-icons.com/icons2/2415/PNG/512/mongodb_original_logo_icon_146424.png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">MongoDB</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=9nLaR5KFGjN0&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">MySQL</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="my-4">
                                                    <span class="fw-bold fs-4">Intermediate</span>
                                                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=l75OEUJkPAk4&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">Python</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=laYYF3dV0Iew&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6 text-center">Microsoft SQL</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="my-4">
                                                    <span class="fw-bold fs-4">Beginner</span>
                                                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-2">
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=shQTXiDQiQVR&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">C</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=TpULddJc4gTh&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">C++</span>
                                                        </div>
                                                        <div class="col-3 col-xl-2 d-flex flex-column justify-content-start align-items-center p-2">
                                                            <img src="https://img.icons8.com/?size=512&id=Pd2x9GWu9ovX&format=png" alt="icon" class="icon-image-lg fs-1 social-icon">
                                                            <span class="fs-6">Java</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section language="EN" id="portfolio" class="p-3 my-5 min-vh-100">
                            <div class="col-12">
                                <div class="d-flex flex-row flex-wrap justify-content-center align-self-center p-2">
                                    <div class="col-12 text-center my-2">
                                        <span class="fw-bold fs-1">Portfolio</span>
                                        <hr class="my-2">
                                        <div class="d-flex flex-wrap justify-content-start align-items-center gap-3">
                                            <span id="folioCategory" role="button">All</span>
                                            <span id="folioCategory" role="button">Website</span>
                                            <span id="folioCategory" role="button">Music</span>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center my-2">
                                        <div class="d-flex flex-wrap justify-content-center align-items-center row-gap-3">

                                            <div folioCategory="Website" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3">
                                                        <img class="img-fluid scale-1 rounded" src="./img/portfolios/website/mc-zd.png" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">MC-ZUESDIN</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Website" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3">
                                                        <img class="img-fluid scale-1 rounded" src="./img/portfolios/website/riiixch_musicbot.png" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH Music Bot</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Website" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3">
                                                        <img class="img-fluid scale-1 rounded" src="./img/portfolios/website/riiixch_shop.png" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH Shop</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Website" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3">
                                                        <img class="img-fluid scale-1 rounded" src="./img/portfolios/website/craftzy.png" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">Craftzy</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/เรื่องเพ้อฝัน.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - เรื่องเพ้อฝัน | Prod by. p4ra x (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/เจ็บช้ำ.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - เจ็บช้ำ (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Fuck Love.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Fuck Love | Prod by. @HamrahBeats (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/เปลี่ยน.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - เปลี่ยน | Prod by. @sleeplessbeatsofficial (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Valentine's day.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH x PIYA3RD - Valentine's day | Prod by. @MengsonBeats (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Stay with me.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Stay with me | Prod by. @viroftbeatz (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/MEMORIES.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - MEMORIES | Prod by. @viroftbeatz (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Good feel.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Good feel | Prod by. @COLDMELODY (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Because of you.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Because of you | Prod by. @viroftbeatz (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Not drunk.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH x PIYA3RD - Not drunk | Prod by. @HvrtzLabRecs (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/How Your Feeling.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RICH x PIYA3RD - How Your Feeling (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/คิดถึง.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - คิดถึง | Prod by. Viroft Beatz (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Happy Birth Day To Me.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Happy Birth Day To Me | Prod by. VENXM (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/สายเกินไป.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - สายเกินไป | Prod by. PKN Beat TH (Office Audio)</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section language="TH" id="portfolio" class="p-3 my-5 min-vh-100">
                            <div class="col-12">
                                <div class="d-flex flex-row flex-wrap justify-content-center align-self-center p-2">
                                    <div class="col-12 text-center my-2">
                                        <span class="fw-bold fs-1">ผลงาน</span>
                                        <hr class="my-2">
                                        <div class="d-flex flex-wrap justify-content-start align-items-center gap-3">
                                            <span id="folioCategory" role="button">ทั้งหมด</span>
                                            <span id="folioCategory" role="button">เว็บไซต์</span>
                                            <span id="folioCategory" role="button">เพลง</span>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center my-2">
                                        <div class="d-flex flex-wrap justify-content-center align-items-center row-gap-3">

                                            <div folioCategory="Website" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3">
                                                        <img class="img-fluid scale-1 rounded" src="./img/portfolios/website/mc-zd.png" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">MC-ZUESDIN</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Website" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3">
                                                        <img class="img-fluid scale-1 rounded" src="./img/portfolios/website/riiixch_musicbot.png" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH Music Bot</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Website" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3">
                                                        <img class="img-fluid scale-1 rounded" src="./img/portfolios/website/riiixch_shop.png" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH Shop</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Website" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3">
                                                        <img class="img-fluid scale-1 rounded" src="./img/portfolios/website/craftzy.png" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">Craftzy</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/เรื่องเพ้อฝัน.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - เรื่องเพ้อฝัน | Prod by. p4ra x (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/เจ็บช้ำ.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - เจ็บช้ำ (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Fuck Love.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Fuck Love | Prod by. @HamrahBeats (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/เปลี่ยน.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - เปลี่ยน | Prod by. @sleeplessbeatsofficial (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Valentine's day.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH x PIYA3RD - Valentine's day | Prod by. @MengsonBeats (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Stay with me.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Stay with me | Prod by. @viroftbeatz (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/MEMORIES.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - MEMORIES | Prod by. @viroftbeatz (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Good feel.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Good feel | Prod by. @COLDMELODY (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Because of you.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Because of you | Prod by. @viroftbeatz (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Not drunk.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH x PIYA3RD - Not drunk | Prod by. @HvrtzLabRecs (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/How Your Feeling.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RICH x PIYA3RD - How Your Feeling (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/คิดถึง.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - คิดถึง | Prod by. Viroft Beatz (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/Happy Birth Day To Me.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - Happy Birth Day To Me | Prod by. VENXM (Official Audio)</span>
                                                </div>
                                            </div>
                                            
                                            <div folioCategory="Music" type="folio" class="col-8 col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-4 rounded">
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    <div class="px-3 py-3 music-div">
                                                        <img class="img-fluid scale-1 rounded music-img" src="./img/portfolios/music/สายเกินไป.webp" alt="image">
                                                    </div>
                                                    <span class="fw-bold fs-6">RIIIXCH - สายเกินไป | Prod by. PKN Beat TH (Office Audio)</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <script src="./js/script.js"></script>
</body>

</html>